/* ANIMATION RIGHT TO LEFT*/
@-webkit-keyframes rightToLeft{
	0% {
	    opacity: 0;
	    -webkit-transform: translateX(300px);
	    -moz-transform: translateX(300px);
	    transform: translateX(300px) ;

	}
	30% {
	    opacity: 1;
	    -webkit-transform: translateX(0px) ;
	    -moz-transform: translateX(0px) ;
	    transform: translateX(0px) ;

	}
	100% {
	    opacity: 1;
	    -webkit-transform: scale(1) ;
	    -moz-transform:  scale(1) ;
	    transform:  scale(1) ;

	}
}

.rightToLeft{
    -webkit-animation: rightToLeft 2s ease-in-out;
    -moz-animation: rightToLeft 2s ease-in-out;
    -o-animation: rightToLeft 2s ease-in-out;
    -ms-animation: rightToLeft 2s ease-in-out;
    animation: rightToLeft 2s ease-in-out;

}

.content-excel-importer{
		overflow:hidden;
}

.content-excel-importer h2{
		font-size:14px!important;
}
.content-excel-importer h3{
		font-size:12px !important;
}
.content-excel-importer h4{
		font-size:12px !important;
}
.content-excel-importer ,.content-excel-importer p{
		font-size:12px !important;
}

.content-excel-importer .left_wrap{
		float:left;
		width:70%;
}

.content-excel-importer  .right_wrap{
		float:right;
		padding-left:10px;
		width:25%;
		background: #fff;
		border:5px solid #0085ba;
		border-right:1px solid #fff;
		font-size:1.3em;
}

.right_wrap h2{
	border-bottom:1px solid #0085ba;
	padding-bottom:5px;
	font-size:1.7em !important;
}

.premium_button{
		background:#0085ba;
		color:#fff;
		padding:5px;
		margin:5px;
		text-decoration:none;
		border-radius:5px;
		font-size:1.5em;
}
.premium_button:hover{
	color:#fff;
}

.web_logo{
	float:right;
}
.web_logo img{
	width:150px;
	height:100px;
}

.content-excel-importer .premium_img{
	width:150px;
	height:150px;
}

.center{
		text-align:center;
}

.content-excel-importer #tabs{
		overflow-x:scroll;
}

.content-excel-importer #tabs li ,#tabs li a{
		display:inline;
		padding-right:10px;
}

.content-excel-importer table{
		text-align:center;
}
.content-excel-importer th{
		background:#777;
		color:#fff;
		padding:5px;
}

#instructionsVideo{
		display:none;
}

/* === ajaxify === */
.content-excel-importer.loading > * {
    opacity:0.2;
}

.content-excel-importer.loading:before {
    position:fixed;
    content: "Loading...";
    font-size:2em;
    padding: 22px;
    background: #000;
    background: url(../images/loading.gif) no-repeat center center;
    color: #777;
    width: 50%;
    height:50%;
    margin-left:15%;
    box-sizing: border-box;
    text-align:center;
}

.content-excel-importer .premium_msg{
		display:none;
		/*background:#F08080;*/
		border:1px solid red;
		text-align:center;
		padding:10px;
		margin:10px;
}

.content-excel-importer .importMessageSussess{
		background:lightGreen;
		padding:5px;
		border:1px solid green;
		color:#fff;
}
.content-excel-importer .importMessageSussess a, .content-excel-importer .success a{
		color:#000;
}

.content-excel-importer .uploader {
	position:relative;
	width:99%;
	height:300px;
	background:#f3f3f3;
	border:1px dashed #e8e8e8;
	background-size:cover;
	margin:0 auto;
	text-align:center;
}
.content-excel-importer #file{
	width:100%;
	position:absolute;
	height:300px;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
	cursor:pointer;
}
.content-excel-importer .uploader .userSelected{
	max-width:90%;
	width:90%;
	z-index:1;
	border:none;
	display:none;
}

.content-excel-importer .nav-tab-wrapper a[href*="instructions"]{
		background:green;
		color:#fff;
		border:1px solid green;
}

.content-excel-importer input[type=text],.content-excel-importer input[type=number], .content-excel-importer textarea{
		border:none;
		border-bottom:1px solid #0073aa;
		transition:all .3s ease-in-out;
		cursor:text;
}
.content-excel-importer input[type=text]:hover,.content-excel-importer input[type=number]:hover, .content-excel-importer textarea:hover{
		background:#ffffcc;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

.content-excel-importer .product_content ,.content-excel-importer .excel_import{
	display:none;
}

@media(max-width:980px){
		.content-excel-importer  .left_wrap, .content-excel-importer .right_wrap{
			float:none;
			width:100%;
			border-right:none;
		}
}